<div id="about" class="container-fluid">
  <div class="col-md-7">
    <h2 class="featurette-heading">O nas. <span class="text-muted">Dowiedz się kim jesteśmy.</span></h2>
    <p class="lead"><br><b><i>Witamy na stronie Salonu Urody "Józefina".</b></i><br><br>Jest to profesjonalny salon urody dla wymagających klientów zarówno damskich jak i męskich. W swojej ofercie zawiera najnowsze zabiegi kosmetyczne jak i fryzjerskie. Salon prowadzony jest od 1 kwietnia 1995 przez Beatę i Terese. Obie systematycznie dokształcają się w swoich specjalnościach, przez co wzbogaca się oferta zabiegów oraz sprzęt do ich wykonania. W salonie wykorzystywane są tylko najleprzej jakości kosmetyki do pielęgnacji skóry, włosów i paznokci. Jeśli zależy Państwu na najlepszej jakości usług koniecznie sprawdźcię ofertę salonu i umówcie się na wizytę w salonie.</p>
  </div>
  <div class="col-md-5">
    <%= image_tag "onas.png", class: "featurette-image img-responsive center-block" %>
  </div>
</div>

