<div id="pricing" class="container-fluid">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Cennik. <span class="text-muted">Zabiegi kosmetyczne.</span></h2>
    <p class="lead">Mikrodermabrazja ................................................ 160 zł
    <br>
    Depilacja ......................................................... 50-100 zł
    <br>
    Manicure ................................................................ 45 zł
    <br>
    Przedłużanie paznokci ......................................... 100 zł
    <br>
    Henna .................................................................... 20 zł
    <br>
    Makijaż .................................................................. 65 zł
    <br>
    Zabieg oczyszczania młodzieżowy ..................... 110 zł
    <br>
    Zabieg pielęgnacyjny ................................... 130-160 zł
    </p>
  </div>
  <div class="col-md-5 col-md-pull-7">
  <%= image_tag "cennik.png", class: "featurette-image img-responsive" %>
  </div>
</div>
