<div id="pricing2" class="container-fluid">
  <div class="col-md-7 ">
    <h2 class="featurette-heading">Cennik. <span class="text-muted">Zabiegi fryzjerskie.</span></h2>
    <p class="lead">Farbowanie ............................................................ 160 zł
    <br>
    Strzyżenie ......................................................... 50-100 zł
    <br>
    Modelowanie ............................................................ 45 zł
    
    </p>
  </div>
  <div class="col-md-5">
  <%= image_tag "cennik.png", class: "featurette-image img-responsive" %>
  </div>
</div>
