<div id="treatments2" class="container-fluid">
<h2 class="featurette-heading">Zabiegi fryzjerskie. <span class="text-muted"> Pozwól swoim włosom na chwile przyjemności</span></h2>

<div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse10" aria-expanded="true" aria-controls="collapse10">
          Farbowanie
        </a>
      </h4>
    </div>
    <div id="collapse10" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Trwała koloryzacja włosów
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Strzyżenie
        </a>
      </h4>
    </div>
    <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        Podcinanie końcówek, całkowita zmiana długości włosów.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse13" aria-expanded="false" aria-controls="collapse13">
          Modelowanie
        </a>
      </h4>
    </div>
    <div id="collapse13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        Nadawanie fryzurze idealnego kształtu
      </div>
    </div>
  </div>
</div>
</div>
